<template>
    <div>
        <div id="app" >
            <sidebar v-if="showBar"></sidebar>

            <div v-if="showBar" class="content lg:ml-64 xl:ml-64 md:ml-16  min-h-full">
                <nav-header ref="nav"></nav-header>
                <router-view class="view"></router-view>
            </div>

            <div v-if="!showBar" class="content  sm:ml-0 ml-0 min-h-full">
                <nav-header ref="nav"></nav-header>
                <router-view class="view"></router-view>
            </div>





        </div>
    </div>
</template>
<script>
import Sidebar from '../../partials/Sidebar';
import NavHeader from '../../partials/NavHeader';
export default {
  components: {
    Sidebar,
    NavHeader
  },
  computed: {

        showBar:  function() {

      return this.$store.getters.side ;

    },
    pageTitle: function() {
      return this.$route.meta.title;
    }
  },
  created () {
    document.title = this.$route.meta.title;
  },
  watch: {
    $route(to, from) {
      document.title = to.meta.title || 'SendItOut International Outsourcing Inc.';
    },
  }
}
</script>
